.header{
    padding: 10px 20px;
}
.left-side{
    display: flex;
    align-items: center;
}
.left-side .link-name{
    color: #ffff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}
.left-side .logo{
    width: 50px;
    cursor: pointer;
}
@media (max-width: 768px) and (min-width: 481px){
    .header{
        padding: 10px 30px;
    }
    .left-side .link-name{
        color: #ffff;
        text-decoration: none;
        margin-left: 15px;
        font-size: 18px;
        cursor: pointer;
    }
    .left-side .logo{
        width: 40px;
        cursor: pointer;
    }
}
@media (max-width: 480px) and (min-width: 300px) {
    .header{
        padding: 10px 15px;
    }
    .left-side .link-name{
        color: #ffff;
        text-decoration: none;
        margin-left: 10px;
        font-size: 16px;
        cursor: pointer;
    }
    .left-side .logo{
        width: 35px;
        cursor: pointer;
    }
}